<% include ../layout/header.ejs %>

<div class="main">
  <div class="container">
    <div class="user">
      <div class="post">
        <div class="top"><p><%=post.title %>р.</p></div>
        <div>
          <p><b> ⚊</b></p>
        </div>
        <div class="body"><%-post.body %></div>
        <!--
          <div class="bottom">
            <div class="author">Автор: <a href="/">Гедеван</a></div>
          </div>
        -->
      </div>

      <!--
        <div class="comments" id="<%=post.id %>">
          <h3>Комментарии</h3>
          <div class="comment-list">
            <%- include('../layout/comments.ejs', {items: comments}) %>

            <form class="comment">
              <textarea name="body"></textarea>
              <div class="buttons">
                <button class="cancel secondary">Отмена</button>
                <button class="send">Отправить</button>
              </div>
            </form>
          </div>
        </div>
      -->
    </div>

    <!-- <% include ../layout/sidebar.ejs %> -->
  </div>
</div>

<% include ../layout/footer.ejs %>
